In [20]:
import pandas as pd
import numpy as np

pd.set_option("mode.copy_on_write", True)

# Period Aliases

See: https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-period-aliases

# Creating a Sequence of Periods

In [21]:
pd.period_range(start='2023-01', end='2023-12', freq='M')

PeriodIndex(['2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
             '2023-07', '2023-08', '2023-09', '2023-10', '2023-11', '2023-12'],
            dtype='period[M]')

In [22]:
pd.period_range(start='2023-01-01', end='2023-12-01', freq='M')

PeriodIndex(['2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
             '2023-07', '2023-08', '2023-09', '2023-10', '2023-11', '2023-12'],
            dtype='period[M]')

In [23]:
pd.period_range(start='2023-01', end='2023-12', freq='Q')

PeriodIndex(['2023Q1', '2023Q2', '2023Q3', '2023Q4'], dtype='period[Q-DEC]')

In [24]:
pd.period_range(start='2023-01-01', end='2023-12-01', freq='Q')

PeriodIndex(['2023Q1', '2023Q2', '2023Q3', '2023Q4'], dtype='period[Q-DEC]')

In [25]:
# Note: The last day in the period index is 2023-12-01, not 2023-12-31
pd.period_range(start='2023-01', end='2023-12', freq='D')

PeriodIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
             '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
             '2023-01-09', '2023-01-10',
             ...
             '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-25',
             '2023-11-26', '2023-11-27', '2023-11-28', '2023-11-29',
             '2023-11-30', '2023-12-01'],
            dtype='period[D]', length=335)

In [26]:
pd.period_range(start='2023-01-01', end='2023-12-01', freq='D')

PeriodIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
             '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
             '2023-01-09', '2023-01-10',
             ...
             '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-25',
             '2023-11-26', '2023-11-27', '2023-11-28', '2023-11-29',
             '2023-11-30', '2023-12-01'],
            dtype='period[D]', length=335)

# Column Conversions

## String Column to Datetime Column

* Convert string column to datetime using `pd.to_datetime()` function

In [27]:
# Example
data = {
    'date': ['2023-01-15', '2023-02-20', '2023-03-10', '2023-04-25'],
    'value': [10, 20, 30, 40]
}

df = pd.DataFrame(data)

# Convert 'date' column to datetime dtype
df['date'] = pd.to_datetime(df['date'])

df['date'].values

array(['2023-01-15T00:00:00.000000000', '2023-02-20T00:00:00.000000000',
       '2023-03-10T00:00:00.000000000', '2023-04-25T00:00:00.000000000'],
      dtype='datetime64[ns]')

## Datetime Column to Period Column

* Convert datetime column to period using `.dt.to_period(freq=<freq_code>)`

In [28]:
# Sample data with daily dates
data = {
    'date': [
        '2023-01-05', '2023-01-15', '2023-01-25',
        '2023-02-05', '2023-02-15', '2023-02-25',
        '2023-03-05', '2023-03-15', '2023-03-25'
    ],
    'sales': [100, 150, 200, 110, 160, 210, 120, 170, 220]
}

# Create DataFrame
df = pd.DataFrame(data)

# Convert 'date' column to datetime dtype
df['date'] = pd.to_datetime(df['date'])

# Convert 'date' column to a monthly period
df['month_period'] = df['date'].dt.to_period('M')

df['month_period'].values

array([Period('2023-01', 'M'), Period('2023-01', 'M'),
       Period('2023-01', 'M'), Period('2023-02', 'M'),
       Period('2023-02', 'M'), Period('2023-02', 'M'),
       Period('2023-03', 'M'), Period('2023-03', 'M'),
       Period('2023-03', 'M')], dtype=object)

## String Column to Period Column

* Step 1: Convert string column to datetime using `pd.to_datetime()` function
* Step 2: Convert datetime column to period using `.dt.to_period(freq=<freq_code>)` accessor

In [29]:
# Sample data
data = {'date_str': ['2023-01-01', '2023-01-02', '2023-01-03']}
df = pd.DataFrame(data)

# Convert 'date_str' from string to datetime
df['date_datetime'] = pd.to_datetime(df['date_str'])

# Convert 'date_datetime' to period (daily)
df['date_period_daily'] = df['date_datetime'].dt.to_period(freq='D')

# Convert 'date_datetime' to period (monthly)
df['date_period_monthly'] = df['date_datetime'].dt.to_period(freq='M')

df

     date_str date_datetime date_period_daily date_period_monthly
0  2023-01-01    2023-01-01        2023-01-01             2023-01
1  2023-01-02    2023-01-02        2023-01-02             2023-01
2  2023-01-03    2023-01-03        2023-01-03             2023-01