In [2]:
import pandas as pd

pd.set_option("mode.copy_on_write", True)

# From Series

When pandas concatenates the series into a DataFrame:

- It uses the union of all indices as the index
- If a series doesn't have data for a particular index value, that cell will be filled with NaN

In [3]:
series1 = pd.Series([1, 2], index=["2020-01-01", "2020-01-02"])
series2 = pd.Series([3, 4], index=["2020-01-02", "2020-01-03"])

df = pd.DataFrame({"A": series1, "B": series2})

print(df)

              A    B
2020-01-01  1.0  NaN
2020-01-02  2.0  3.0
2020-01-03  NaN  4.0

# From Dicts

In [5]:
## 1. Dict of lists/arrays
# Keys become column names, values become column data

data = {
    "name": ["John", "Jane", "Bob"],
    "age": [25, 30, 35],
    "city": ["NY", "SF", "LA"],
}
df1 = pd.DataFrame(data)
df1

   name  age city
0  John   25   NY
1  Jane   30   SF
2   Bob   35   LA

In [6]:
data = [
    {"name": "John", "age": 25, "city": "NY"},
    {"name": "Jane", "age": 30, "city": "SF"},
    {"name": "Bob", "age": 35, "city": "LA"},
]
df2 = pd.DataFrame(data)
df2

   name  age city
0  John   25   NY
1  Jane   30   SF
2   Bob   35   LA

In [4]:
# ## 3. Dict of dicts
# # Outer dict keys become index, inner dict keys become columns

data = {
    "001": {"name": "John", "age": 25, "city": "NY"},
    "002": {"name": "Jane", "age": 30, "city": "SF"},
    "003": {"name": "Bob", "age": 35, "city": "LA"},
}
df3 = pd.DataFrame(data).T  # Transpose to get expected orientation
df3

     name age city
001  John  25   NY
002  Jane  30   SF
003   Bob  35   LA

# DF with Series Elements

In [ ]:
series1 = pd.Series([1, 2], index=["2020-01-01", "2020-01-02"])
series2 = pd.Series([3, 4], index=["2020-01-02", "2020-01-03"])

df = pd.DataFrame(
    {
        "A": [series1],  # Put each pd.Series in a list
        "B": [series2],
    }
)

df