In [1]:
import pandas as pd
pd.set_option("mode.copy_on_write",True)

import numpy as np

# Create from a...

## List

In [2]:
list_series = pd.Series([1, 2, 3])
list_series

0    1
1    2
2    3
dtype: int64

In [3]:
list_series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
list_series

a    1
b    2
c    3
dtype: int64

## Dict

In [4]:
dict_series = pd.Series({'a': 1, 'b': 2, 'c': 3})
dict_series

a    1
b    2
c    3
dtype: int64

## Numpy Array

In [5]:
array_series = pd.Series(np.array([1, 2, 3]))
array_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
array_series = pd.Series(np.array([1, 2, 3]), index=['a', 'b', 'c'])
array_series

a    1
b    2
c    3
dtype: int64

## Scalar

In [6]:
scalar_series = pd.Series(7)
scalar_series

0    7
dtype: int64

In [7]:
scalar_series = pd.Series(7, index=['a'])
scalar_series

a    7
dtype: int64

In [8]:
scalar_series = pd.Series(7, index=['a', 'b', 'c'])
scalar_series

a    7
b    7
c    7
dtype: int64

## Empty

In [20]:
str_index = ['a','b','c']
empty_str = pd.Series(index=str_index)
empty_str

a   NaN
b   NaN
c   NaN
dtype: float64

In [9]:
numeric_index = [1, 2, 3, 4, 5]
empty_numeric = pd.Series(index=numeric_index)
empty_numeric

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

In [10]:
date_index = pd.date_range('2023-01-01', periods=5, freq='D')
empty_dates = pd.Series(index=date_index)
empty_dates

2023-01-01   NaN
2023-01-02   NaN
2023-01-03   NaN
2023-01-04   NaN
2023-01-05   NaN
Freq: D, dtype: float64

# Name a Series

In [11]:
# Method 1
series = pd.Series([1, 2, 3, 4, 5])
series.name = 'series_name'
series

0    1
1    2
2    3
3    4
4    5
Name: series_name, dtype: int64

In [12]:
# Method 2
series = pd.Series([1, 2, 3, 4, 5]).rename('series_name')
series

0    1
1    2
2    3
3    4
4    5
Name: series_name, dtype: int64